/* styling body */
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;

  background-color: silver;
  color: black;
  
  text-align: center;
}

/* Structure */
.part-one {
  fill: blue;
}

/* Diamond Shape */
.part-two {
  fill: violet;
}

/* Half-moon shapes */
.part-three {
  fill: cyan;
}

nav ul {
  /* styling navbar*/
  padding-left: 0;
  margin: 0;
  
  list-style-type: none;
  border-style: none;
  
  background-color: green;

  display: flex;
  justify-content: flex-end;
}

/* nav hover */
nav a:hover {
  background-color: purple;
}

/* nav buttons */
nav a {
  display: block;
  padding: 1.5rem;
  
  text-align: center;
  text-decoration: none;
  
  color: white;
}